@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@cir: 300px;
@name2: opin;
@time: 1s;
@occ: 1;
.border_radius(@rad){
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	-o-border-radius: @rad;
	-ms-border-radius: @rad;
	border-radius: @rad;
}
.anifillmode(@mode){
	animation-fill-mode: @mode;
	-webkit-animation-fill-mode: @mode;
}
@keyframes opin{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opin{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opin{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes opin{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
body, html{
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.title{
	font-family: "Montserrat", sans-serif;
	color: lighten(black, 10%);
	font-size: 300%;
	font-weight: normal;
	text-align: center;
}
.boxwrap{
	display: table-cell;
    vertical-align: middle;
}
.bg{
	background-color: white;
	width: 100%;
	display: table;
    position: absolute;
    height: 700px;
}
.cross{
	width: @cir;
	height: @cir;
	margin: 0 auto;
	-webkit-animation: opin 1s 1;
	-moz-animation: opin 1s 1;
	-o-animation: opin 1s 1;
	animation: opin 1s 1;
	.anifillmode(forwards);
}