@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@cir: 300px;
@name: op;
@time: 1s;
@occ: 1;
.border_radius(@rad){
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	-o-border-radius: @rad;
	-ms-border-radius: @rad;
	border-radius: @rad;
}
.anifillmode(@mode){
	animation-fill-mode: @mode;
	-webkit-animation-fill-mode: @mode;
}
@keyframes op{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes op{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes op{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes op{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
body, html{
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.title{
	font-family: "Montserrat", sans-serif;
	color: lighten(black, 10%);
	font-size: 300%;
	font-weight: normal;
	text-align: center;
}
.boxwrap{
	display: table-cell;
    vertical-align: middle;
}
.box{
	.border_radius(@cir);
	background-color: red;
	width: @cir;
	height: @cir;
	margin: 0 auto;
}
.bg{
	background-color: white;
	width: 100%;
	display: table;
    position: absolute;
    height: 700px;
}
.keyframeRun{
	-webkit-animation: @name @time @occ;
	-o-animation: @name @time @occ;
	-moz-animation: @name @time @occ;
	animation: @name @time @occ;
	.anifillmode(forwards);
}
.cross{
	width: 50px;
	height: 50px;
}
.cross:before, #cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #d00;
}
.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}